{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Menteeor Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'font/iconsmind-s/css/iconsminds.css' %}" />
    <link rel="stylesheet" href="{% static 'font/simple-line-icons/css/simple-line-icons.css' %}" />

    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.rtl.only.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap-float-label.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
</head>

<body class="background show-spinner">
    <div class="fixed-background"></div>
    <main>
        <div class="container">
            <div class="row h-100">
                <div class="col-12 col-md-10 mx-auto my-auto">
                    <div class="card auth-card">
                        <div class="position-relative image-side ">
                            <p class=" text-white h2">MAGIC IS IN THE DETAILS</p>
                            <p class="white mb-0">
                                Please use this form to register.
                                <br>If you are a member, please
                                <a href="#" class="white">login</a>.
                            </p>
                        </div>
                        <div class="form-side">
                            <a href="Dashboard.Default.html">
                                <span class="logo-single"></span>
                            </a>
                            <h6 class="mb-4">Register</h6>

                            <form>
                                {% csrf_token %}
                                <label class="form-group has-float-label mb-4">
                                    {{form.username}}
                                    <span>Name</span>
                                </label>
                                <label class="form-group has-float-label mb-4">
                                    {{form.email}}
                                    <span>E-mail</span>
                                </label>
                                <label class="form-group has-float-label mb-4">
                                    {{form.password1}}
                                    <span>Password</span>
                                </label>
                                <label class="form-group has-float-label mb-4">
                                    {{form.password2}}
                                    <span>Repeat Password</span>
                                </label>
                                <div class="d-flex justify-content-end align-items-center">
                                    <button class="btn btn-primary btn-lg btn-shadow" type="submit">REGISTER</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="{% static 'js/vendor/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/vendor/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/dore.script.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>

</html>